
$white: rgba(0,0,0,1);
$xlight: rgba(255,255,255,.08);
$light: rgba(255,255,255,.6);
$dark: rgba(255,255,255,1);
$accent: #EF4028;

@media (min-aspect-ratio: 16/9) and (min-width: 1000px){
  #page #main div.profile-img-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: calc(100vw / 2 - 1000px / 2);
    overflow: hidden;
    p.img {
      width: 9999px;
      margin: 0;
      overflow: hidden;
      img {
        display: block;
        max-width: none;
        height: 100vh;
        margin: 0;
      }
    }
    span {
      display: none;
    }
  }
}
body {
  background-color: $white;
  color: $dark;
}
header {
  nav {
    a:hover {
      position: relative;
      text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;
      background: -webkit-linear-gradient($dark, $dark);
      background: -moz-linear-gradient($dark, $dark);
      background: -o-linear-gradient($dark, $dark);
      background: -ms-linear-gradient($dark, $dark);
      background: linear-gradient($dark, $dark);
      -webkit-background-size: 1px 1px;
      -moz-background-size: 1px 1px;
      background-size: 1px 1px;
      background-repeat: repeat-x;
      background-size: 1px 1px;
      background-position: 0 89%;
    }
  }
}
p.homepage-description {
  color: $light;
}
#page {
  #main {
    p {
      color: $light;
    }
    h1, h2, h3 {
      color: $dark;
    }
    blockquote {
      background-color: $xlight;
    }
    a {
      color: $dark;
    }
    a:hover {
      position: relative;
      text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;
      background: -webkit-linear-gradient($dark, $dark);
      background: -moz-linear-gradient($dark, $dark);
      background: -o-linear-gradient($dark, $dark);
      background: -ms-linear-gradient($dark, $dark);
      background: linear-gradient($dark, $dark);
      -webkit-background-size: 1px 1px;
      -moz-background-size: 1px 1px;
      background-size: 1px 1px;
      background-repeat: repeat-x;
      background-size: 1px 1px;
      background-position: 0 89%;
    }
    hr {
      background: $light;
    }
  }
}
footer {
  p {
    color: $light;
  }
}
