
$white: rgba(255, 255, 255,1);
$xlight: rgba(0,0,0,.05);
$light: rgba(0,0,0,.3);
$dark: rgba(0,0,0,.5);
$accent-light: rgba(237, 211, 196,.5);
$accent-dark: rgba(119, 101, 227,1);
//rgba(17,17,17,1);
//$link: rgba( 4, 52, 242,1);
$link: rgba( 0,0,0,1);
$breaking-point: 740px;

%underline {
  position: relative;
  text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;
  background: -webkit-gradient(linear, left top, left bottom, from($dark), to($dark));
  background: linear-gradient($dark, $dark);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 89%;
}


::-moz-selection {
  background: $xlight;
}


::selection {
  background: $xlight;
}
::-moz-selection {
  background: $xlight;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

// FF DIN Pro

@font-face {
	font-family: 'FF DIN Pro Web';
	src: url('fonts/FFDINPro-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'FF DIN Pro Web';
	src: url('fonts/FFDINPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'FF DIN Pro Web';
	src: url('fonts/FFDINPro-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}


// Main styles

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-color: $white;
  font-family: "FF DIN Pro Web", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: $dark;
}
html {
  overflow-y: scroll;
}
h1, h2, h3 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
  max-width: 617px;
}
ol,ul {
  max-width: 617px;
  li {
    padding-left: .5em;
    margin-bottom: .5em;
  }
}
blockquote {
  max-width: 617px;
}
a {
  text-decoration: none;
  color: inherit;
}
img, video {
  display: block;
  max-width: 100%;
}
small {
  font-size: .8em;
}

#front-page {
  footer {
    display: none;
  }
  header {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    height: 150px;
    @media (max-width: $breaking-point){
      padding-top: 2.5em;
      nav {
        margin-bottom: 2.5em;
      }
    }
  }
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2em;
  overflow: hidden;
}
.wrapper::after {
  content: "";
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  background-color: white;
  height: 1px;
  opacity: 0;
}
header {
  width: 100%;
  padding-bottom: 5px;
  padding-top: 4em;
  z-index: 9999;
  color: $dark;
  .title {
    margin-bottom: 1em;
    margin-top: 0px;
    img.logo {
      width: 14em;
      display: inline-block;
    }
  }
  nav {
    margin-bottom: 4em;
    a {
      display: inline-block;
      margin-right: 1.5em;
      font-weight: 400;
      -webkit-transition: color 0.2s ease;
      transition: color 0.2s ease;
    }
    a:hover {
      color: black;
    }
  }
  @media (max-width: $breaking-point){
    .title, nav {
      float: none;
      width: 100%;
      text-align: center;
    }
    nav {
      a {
        margin-right:  1.5em;
        margin-left:  1.5em;
      }
    }
  }
}
p.homepage-description {
  max-width: 100%;
  margin: 1.2em 0;
}
.categories {
  display: none;
}
.homepage-description {
  display: none;
}
#homepage {
  .homepage-description {
    margin: 0;
    margin-bottom: 4em;
    display: block;
  }
  .categories {
    margin-bottom: 4em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05em;
    display: block;
    h3 {
      margin-bottom: 10px;
      font-size: .75em;
    }
    a {
      font-weight: 500;
      display: block;
      float: left;
      border-radius: 3px;
      padding: 10px 10px 8px 10px;
      line-height: 1;
      border: 1px solid $xlight;
      margin: 0;
      margin-right: 10px;
      margin-bottom: 10px;
      background: transparent;
      -webkit-transition: color 0.2s ease, border-color 0.2s ease;
      transition: color 0.2s ease, border-color 0.2s ease;
      font-size: .75em;
      color: $dark;
    }
    a:hover {
      border: 1px solid $dark;
      //color: black;
    }
    a.selected {
      border: 1px solid black;
      color: black;
    }
  }
  article {
    .info {
      //font-size: .8em;
      margin-top: 1.5em;
      //transition: color 0.2s ease;
      h1 {
        font-weight: 500;
        //color: $link;
      }
      h1, p {
        margin-bottom: 0;
      }
    }
    img, video {
      width: 100%;
      filter: brightness(98%);
      -webkit-filter: brightness(98%);
      -webkit-transition: -webkit-filter .5s ease;
      transition: -webkit-filter .5s ease;
      transition: filter .5s ease;
      transition: filter .5s ease, -webkit-filter .5s ease;
    }
  }
  article:hover {
    .info {
      h1 {
        color: $link;
      }
    }
  }
  // CATEGORY ANIMATIONS
  article {
    display: block;
    margin-bottom: 4em;
  }
  article.hidden {
    display: none;
  }

}
#page {
  #main {
    .reading-time {
      //margin-bottom: -4em;
      margin-top: 2em;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: .05em;
      display: block;
      font-size: .75em;
    }
    article {
      //margin: 2em 0;
    }
    p {
      margin: 2em 0;
    }
    p.img {
      max-width: 100%;
      img {
        -webkit-filter: brightness(98%);
                filter: brightness(98%);
        width: 100%;
      }
    }
    p.video {
      max-width: 100%;
      video {
          -webkit-filter: brightness(98%);
                  filter: brightness(98%);
      }
    }
    h1, h2, h3 {
      font-size: 1.15em;
      font-weight: 500;
      margin-top: 3em;
      margin-bottom: 1em;
      color: $dark;
    }
    h1 {
      font-size: 1.5em;
      margin-top: 0;
    }
    b, strong {
      font-weight: 500;
    }
    blockquote {
      background-color: $xlight;
      margin: 1.4em 0;
      padding: 1px 1.4em;
    }
    a {
      color: $link;
    }
    a:hover {
      text-decoration: underline;
    }
    hr {
      margin: 0;
      width: 30px;
      background: $dark;
      height: 1px;
      border: none;
      margin: 3em 0;
    }
    .scrolling-image {
      width: 100%;
      overflow-x: scroll;
      cursor: move;
      img {
        width: auto;
        max-width: none;
        height: 80vh;
      }
    }
  }
}
footer {
  margin-bottom: 4em;
  margin-top: 6em;
  a {
    color: $link;
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    max-width: none;
  }
}
.fade {
  opacity: 0;
}
.fade-in {
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: -4em;
  //  max-width: 100%;
}
.flex-item {
  width: 45%;
  max-width: calc(50% - 4em);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 4em;
  @media (max-width: $breaking-point) {
    max-width: none;
    width: 80%;
  }
}
.about-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: -4em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  div {
    margin-top: -2em;
    width: 45%;
    max-width: calc(50% - 4em);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 4em;
    @media (max-width: $breaking-point) {
      max-width: none;
      width: 80%;
    }
  }
}
audio {
  display: none;
}


// SLIDESHOW
$slide-distance: 50px;
$time: 8s; /* should be about a second longer than the slideDuration for the smoothest transition */

@-webkit-keyframes ltright {
  from {
    -webkit-transform: translateY(0px) translateX(-$slide-distance);
            transform: translateY(0px) translateX(-$slide-distance);
  }
  to {
    -webkit-transform: translateY(0px) translateX($slide-distance);
            transform: translateY(0px) translateX($slide-distance);
  }
}

@keyframes ltright {
  from {
    -webkit-transform: translateY(0px) translateX(-$slide-distance);
            transform: translateY(0px) translateX(-$slide-distance);
  }
  to {
    -webkit-transform: translateY(0px) translateX($slide-distance);
            transform: translateY(0px) translateX($slide-distance);
  }
}
@-webkit-keyframes rtleft {
  from {
    -webkit-transform: translateY(0px) translateX($slide-distance);
            transform: translateY(0px) translateX($slide-distance);
  }
  to {
    -webkit-transform: translateY(0px) translateX(-$slide-distance);
            transform: translateY(0px) translateX(-$slide-distance);
  }
}
@keyframes rtleft {
  from {
    -webkit-transform: translateY(0px) translateX($slide-distance);
            transform: translateY(0px) translateX($slide-distance);
  }
  to {
    -webkit-transform: translateY(0px) translateX(-$slide-distance);
            transform: translateY(0px) translateX(-$slide-distance);
  }
}
@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(-$slide-distance) translateX(0px);
            transform: translateY(-$slide-distance) translateX(0px);
  }
  to {
    -webkit-transform: translateY($slide-distance) translateX(0px);
            transform: translateY($slide-distance) translateX(0px);
  }
}
@keyframes down {
  from {
    -webkit-transform: translateY(-$slide-distance) translateX(0px);
            transform: translateY(-$slide-distance) translateX(0px);
  }
  to {
    -webkit-transform: translateY($slide-distance) translateX(0px);
            transform: translateY($slide-distance) translateX(0px);
  }
}
@-webkit-keyframes up {
  from {
    -webkit-transform: translateY($slide-distance) translateX(0px);
            transform: translateY($slide-distance) translateX(0px);
  }
  to {
    -webkit-transform: translateY(-$slide-distance) translateX(0px);
            transform: translateY(-$slide-distance) translateX(0px);
  }
}
@keyframes up {
  from {
    -webkit-transform: translateY($slide-distance) translateX(0px);
            transform: translateY($slide-distance) translateX(0px);
  }
  to {
    -webkit-transform: translateY(-$slide-distance) translateX(0px);
            transform: translateY(-$slide-distance) translateX(0px);
  }
}
#slideshow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150px;
  .slide, span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    span {
      background-size: cover;
      background-position: center;
    }
    span.ltright, span.rtleft {
      left: -$slide-distance;
      right: -$slide-distance;
    }
    span.up, span.down {
      top: -$slide-distance;
      bottom: -$slide-distance;
    }
  }
  span.ltright.active {
    -webkit-animation: ltright $time cubic-bezier(.81,.95,.82,1) forwards;
            animation: ltright $time cubic-bezier(.81,.95,.82,1) forwards;
  }
  span.rtleft.active {
    -webkit-animation: rtleft $time cubic-bezier(.81,.95,.82,1) forwards;
            animation: rtleft $time cubic-bezier(.81,.95,.82,1) forwards;
  }
  span.up.active {
    -webkit-animation: up $time cubic-bezier(.81,.95,.82,1) forwards;
            animation: up $time cubic-bezier(.81,.95,.82,1) forwards;
  }
  span.down.active {
    -webkit-animation: down $time cubic-bezier(.81,.95,.82,1) forwards;
            animation: down $time cubic-bezier(.81,.95,.82,1) forwards;
  }
}

.static-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  h1 {
    padding: 2em;
    margin: 0 auto;
    max-width: 1300px;
  }
  h1.dark-background {
    color: rgba(255, 255, 255,.5);
  }
}
