
$white: rgba(255, 255, 255,1);
$xlight: rgba(255, 227, 211,.4);
$light: rgba(8,7,8,.6);
$dark: rgba(8,7,8,1);
$accent-light: rgba(237, 211, 196,.5);
$accent-dark: rgba(119, 101, 227,1);
//rgba(17,17,17,1);
$link: rgba( 4, 52, 242,1);

%underline {
  position: relative;
  text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;
  background: -webkit-linear-gradient($dark, $dark);
  background: -moz-linear-gradient($dark, $dark);
  background: -o-linear-gradient($dark, $dark);
  background: -ms-linear-gradient($dark, $dark);
  background: linear-gradient($dark, $dark);
  -webkit-background-size: 1px 1px;
  -moz-background-size: 1px 1px;
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 89%;
}


::selection {
  background: $xlight;
}
::-moz-selection {
  background: $xlight;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.noselect {
  user-select: none;
}

/*FREIGHT NEO*/

// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-LightItalic.woff') format('woff');
// 	font-weight: 300;
// 	font-style: italic;
// }
//
// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-SemiboldItalic.woff') format('woff');
// 	font-weight: 600;
// 	font-style: italic;
// }
//
// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-Light.woff') format('woff');
// 	font-weight: 300;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-Black.woff') format('woff');
// 	font-weight: 900;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-Semibold.woff') format('woff');
// 	font-weight: 600;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-Bold.woff') format('woff');
// 	font-weight: bold;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-Book.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-MediumItalic.woff') format('woff');
// 	font-weight: 500;
// 	font-style: italic;
// }
//
// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-BoldItalic.woff') format('woff');
// 	font-weight: bold;
// 	font-style: italic;
// }
//
// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-BlackItalic.woff') format('woff');
// 	font-weight: 900;
// 	font-style: italic;
// }
//
// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-BookItalic.woff') format('woff');
// 	font-weight: normal;
// 	font-style: italic;
// }
//
// @font-face {
// 	font-family: 'Freight Neo Pro';
// 	src: url('fonts/FreightNeoPro-Medium.woff') format('woff');
// 	font-weight: 500;
// 	font-style: normal;
// }


// AKZIDENZ GROTESK

// @font-face {
//     font-family: 'Akzidenz Grotesk Next';
//     src: url('fonts/AkzidGrtskNext-ExtraLightIt.woff') format('woff');
//     font-weight: 200;
//     font-style: italic;
// }
//
// @font-face {
//     font-family: 'Akzidenz Grotesk Next';
//     src: url('fonts/AkzidGrtskNext-ExtraLight.woff') format('woff');
//     font-weight: 200;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'Akzidenz Grotesk Next';
//     src: url('fonts/AkzidGrtskNext-Italic.woff') format('woff');
//     font-weight: 400;
//     font-style: italic;
// }
//
// @font-face {
//     font-family: 'Akzidenz Grotesk Next';
//     src: url('fonts/AkzidGrtskNext-BlackIt.woff') format('woff');
//     font-weight: 900;
//     font-style: italic;
// }
//
// @font-face {
//     font-family: 'Akzidenz Grotesk Next';
//     src: url('fonts/AkzidGrtskNext-ExtraBoldIt.woff') format('woff');
//     font-weight: 800;
//     font-style: italic;
// }

@font-face {
    font-family: 'Akzidenz Grotesk Next';
    src: url('fonts/AkzidGrtskNext-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

// @font-face {
//     font-family: 'Akzidenz Grotesk Next';
//     src: url('fonts/AkzidGrtskNext-Bold.woff') format('woff');
//     font-weight: 600;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'Akzidenz Grotesk Next';
//     src: url('fonts/AkzidGrtskNext-MedIt.woff') format('woff');
//     font-weight: 500;
//     font-style: italic;
// }
//
@font-face {
    font-family: 'Akzidenz Grotesk Next';
    src: url('fonts/AkzidGrtskNext-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz Grotesk Next';
    src: url('fonts/AkzidGrtskNext-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

// @font-face {
//     font-family: 'Akzidenz Grotesk Next';
//     src: url('fonts/AkzidGrtskNext-LightItalic.woff') format('woff');
//     font-weight: 300;
//     font-style: italic;
// }
//
// @font-face {
//     font-family: 'Akzidenz Grotesk Next';
//     src: url('fonts/AkzidGrtskNext-ExtraBold.woff') format('woff');
//     font-weight: 800;
//     font-style: normal;
// }
//

// @font-face {
//     font-family: 'Akzidenz Grotesk Next';
//     src: url('fonts/AkzidGrtskNext-Black.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
// }

//
// @font-face {
//     font-family: 'Akzidenz Grotesk Next';
//     src: url('fonts/AkzidGrtskNext-BoldIt.woff') format('woff');
//     font-weight: 600;
//     font-style: italic;
// }

@font-face {
    font-family: 'Stijn';
    src: url('fonts/stijnbold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}



* {
  box-sizing: border-box;
}
body {
  background-color: $white;
  font-family: "Akzidenz Grotesk Next", sans-serif;
  font-size: 22px;
  line-height: 1.4;
  font-weight: 400;
  color: $dark;
  padding: 0 1em;
  @media (max-width: 470px){
    font-size: 20px;
  }
  @media (max-width: 340px){
    font-size: 18px;
  }
}
html {
  overflow-y: scroll;
}
h1, h2, h3 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
  max-width: 650px;
}
blockquote {
  max-width: 650px;
}
a {
  text-decoration: none;
  color: inherit;
}
img, video {
  display: block;
  max-width: 100%;
}
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.wrapper::after {
  content: "";
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  background-color: white;
  height: 1px;
  opacity: 0;
}
header {
  margin-top: 1em;
  border-bottom: 4px solid $xlight;
  padding-bottom: 1em;
  .title {
    float: left;
    width: 50%;
    h1 {
      font-weight: 400;
      font-size: 1em;
      display: block;
    }
  }
  nav {
    float: right;
    width: 50%;
    text-align: right;
    a {
      display: inline-block;
      margin-left: 20px;
      font-weight: 400;
      transition: color 0.2s ease;
    }
    a:hover {
      color: $link;
      //text-decoration: underline;
    }
  }
  @media (max-width: 450px){
    .title, nav {
      float: none;
      width: 100%;
      text-align: center;
    }
    nav {
      margin-top: .5em;
      a {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}
p.homepage-description {
  max-width: 100%;
  margin: 1.2em 0;
  opacity: .9;
}
#homepage {
  .homepage-description {
    background-color: $xlight;
    padding: 1em;
  }
  .categories {
    padding-bottom: 2em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05em;
    h3 {
      margin-bottom: 5px;
      font-size: .65em;
    }
    a {
      //font-size: .8em;
      font-weight: 500;
      display: inline-block;
      padding: 12px 20px;
      //border-right: 1px solid $xlight;
      margin: 0;
      background: $white;
      margin-right: 1px;
      transition: color 0.2s ease;
      font-size: .65em;
    }
    a:hover {
      color: $link;
    }
    a.selected {
      background: transparent;
        color: $link;
    }
    .scroll-box {
      overflow-x: auto;
      border: 1px solid $xlight;
      border-bottom: 4px solid $xlight;
    }
    .scroll-inner {
      padding: 0;
      white-space: nowrap;
      width: auto;
      float: left;
      text-align: center;
      line-height: 1;
      background: $xlight;
    }
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -1em;
  }
  article {
    width: 45%;
    max-width: calc(50% - 1em);
    flex-grow: 1;
    margin-right: 1em;
    @media (max-width: 740px) {
      max-width: none;
      width: 80%;
    }
    .info {
      font-size: .8em;
      margin-top: .5em;
      padding-bottom: 2em;
      //transition: color 0.2s ease;
      h1 {
        font-weight: 500;
        //color: $link;
      }
      h1, p {
        margin-bottom: 0;
      }
    }
    img, video {
      width: 100%;
      filter: brightness(98%);
      -webkit-filter: brightness(98%);
      //transition: filter .5s ease, opacity .1s ease;
    }
  }
  article:hover {
    img, video {
      //filter: brightness(90%);
      //-webkit-filter: brightness(90%);
    }
    h1 {
      text-decoration: underline;
    }
  }
  // CATEGORY ANIMATIONS
  article {
    display: block;
  }
  article.hidden {
    display: none;
  }

}
#page {
  #main {
    article {
      margin: 2em 0;
    }
    p {
      margin: 1em 0;
    }
    p.img {
      max-width: 100%;
      img {
        filter: brightness(98%);
        width: 100%;
      }
    }
    p.video {
      max-width: 100%;
    }
    h1, h2, h3 {
      font-size: 1.15em;
      font-weight: 500;
      margin-top: 2em;
      margin-bottom: 1em;
      color: $dark;
    }
    b, strong {
      font-weight: 500;
    }
    blockquote {
      background-color: $xlight;
      margin: 1em 0;
      padding: 1px 1em;
    }
    a {
      color: $link;
    }
    a:hover {
      text-decoration: underline;
    }
    hr {
      margin: 0;
      width: 30px;
      background: $dark;
      height: 1px;
      border: none;
      margin: 3em 0;
    }
    .scrolling-image {
      width: 100%;
      overflow-x: scroll;
      cursor: move;
      img {
        width: auto;
        max-width: none;
        height: 80vh;
      }
    }
  }
}
footer {
  margin-bottom: 1em;
  p {
    max-width: none;
  }
}
.fade {
  opacity: 0;
}
.fade-in {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.about-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: -2em;
  flex-direction: row-reverse;
  div {
    margin-top: -1em;
    width: 45%;
    max-width: calc(50% - 2em);
    flex-grow: 1;
    margin-right: 2em;
    @media (max-width: 740px) {
      max-width: none;
      width: 80%;
    }
  }
}
