---
---

{% include head.html %}
<body id="front-page">
{% include header.html %}

<div id="slides" style="display:none;">
  <a class="slide" href="/revolve-waterbottle">
    <span class="rtleft" style="background-image: url(/img/slideshow/packaging-min.jpg)"></span>
    <div class="static-content"><h1 class="dark-background">Revolve Waterbottle | 2017</h1></div>
  </a>
  <a class="slide" href="/lunchbox">
    <span class="rtleft" style="background-image: url(/img/slideshow/lunchbox-hero.jpg)"></span>
    <div class="static-content"><h1>Lunchbox: Like Tableware | 2017</h1></div>
  </a>
  <a class="slide" href="/salad-shaker">
    <span class="down" style="background-image: url(/img/slideshow/salad-shaker-hero.jpg)"></span>
    <div class="static-content"><h1>Salad Shaker | 2017</h1></div>
  </a>
  <a class="slide" href="/bike-basket">
    <span class="up" style="background-image: url(/img/slideshow/bike-basket-01.jpg)"></span>
    <div class="static-content"><h1 class="dark-background">Bike Basket | 2016</h1></div>
  </a>
  <a class="slide" href="/arduino-midi-controller">
    <span class="ltright" style="background-image: url(/img/portfolio/midi-controller.jpg)"></span>
    <div class="static-content"><h1>MIDI Controller | 2018</h1></div>
  </a>
</div>

<script src="{{ site.baseurl }}/js/jquery.panning-slideshow.js"></script>
<script>$('#slides').slideshow();</script>

{% include footer.html %}
