---
layout: homepage
---

<div class="fade"><p class="homepage-description">Stijn is a designer currently studying Industrial Product Design at the HAN University of Applied Sciences. This is a selection of his work from various creative fields.</p>
</div>
<div class="fade noselect categories">
  <h3>Categories:</h3>
  <div class="scroll-box clearfix">
    <div class="scroll-inner">
      <a class="selected" href="#" cat-id="all">All</a><span>/</span><a href="#" cat-id="id">Industrial Design</a><span>/</span><a href="#" cat-id="graphic">Graphic Design</a><span>/</span><a href="#" cat-id="systemic">Systemic Design</a><span>/</span><a href="#" cat-id="ui">UI Design</a><span>/</span><a href="#" cat-id="webdev">Web Development</a><span>/</span><a href="#" cat-id="video">Video</a>
    </div>
  </div>
</div>
<div class="fade flex-container">
{% for item in site.fp-collection %}
<article class="clearfix fade flex-{{ item.flex }} {{ item.category-id }} visible">
  <a class="permalink" href="{{ item.url | prepend: site.baseurl }}">
    <div class="thumb">
      {% if item.video %}
      <video autoplay loop muted poster="{{ site.baseurl }}/vid/{{ item.video }}/poster.jpg">
         <source src="{{ site.baseurl }}/vid/{{ item.video }}/video.mp4" type="video/mp4">
         <source src="{{ site.baseurl }}/vid/{{ item.video }}/video.webm" type="video/webm">
      </video>
      {% else %}
        <img draggable="false" alt="thumbnail" src="{{ site.baseurl }}/img/{{ item.thumbnail }}">
      {% endif %}
    </div>
    <div class="info clearfix">
      <div class="description">
        <h1>{{ item.title }}</h1>
        <!-- <p>{{ item.description }}</p> -->
      </div>
      <div class="meta">
        <p>{{ item.category }}</p>
        <p>{{ item.year }}</p>
      </div>
    </div>
  </a>
</article>
{% endfor %}
</div>
<script>
  $(document).on("click", ".categories a", function(e) {
    e.preventDefault();
    $(".categories a").removeClass("selected");
    $(this).addClass("selected");
    if($(this).attr("cat-id") == "all"){
      $("article").addClass("visible");
    }else{
      $("article").removeClass("visible");
      $("article." + $(this).attr("cat-id")).addClass("visible");
    }
  });
</script>
<style>
a.projects {
  position: relative;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
  background: -moz-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
  background: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
  background: -ms-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
  -webkit-background-size: 1px 1px;
  -moz-background-size: 1px 1px;
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 89%;
}
</style>
