
<footer class="fade">
  <p><small>2018 Stijn van Cuijk — contact@stijn.vc</small></p>
</footer>


<!-- <script src="{{ site.baseurl }}/js/pagetransition.js"></script> -->
<script>
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
    gutter: 30,
    transitionDuration: 0
  });

  $grid.imagesLoaded().progress( function() {
    $grid.masonry('layout');
  });
  $(document).ready(function(){
    $("#main").fitVids();
  });

  // fade in divs
  var fadein = $('.fade');
  $.each(fadein, function(i, item) {
  	setTimeout(function() {
  		$(item).addClass("fade-in"); // duration of fadein
  	}, 100 * i); // duration between fadeins
  });

</script>
<noscript>
<style>
.fade {
  opacity: 1;
}
</style>
</noscript>
</body>
</html>
