
<footer class="fade">
  <p><small>2018 Stijn van Cuijk — contact@stijn.vc — Arnhem, NL</small></p>
</footer>


<script src="{{ site.baseurl }}/js/dragscroll.js"></script>
<script>

  $(document).ready(function(){
    $("#main").fitVids();
  });

  // fade in divs
  var fadein = $('.fade');
  $.each(fadein, function(i, item) {
  	setTimeout(function() {
  		$(item).addClass("fade-in"); // duration of fadein
  	}, 25 * i); // duration between fadeins
  });

</script>
<script src="{{ site.baseurl }}/js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
<noscript>
<style>
.fade {
  opacity: 1;
}
</style>
</noscript>
</body>
</html>
