
<footer class="fade">
  <p><small>Stijn van Cuijk Design — <a href="mailto:contact@stijn.vc">contact@stijn.vc</a> — Arnhem, The Netherlands, 2019</small></p>
</footer>


<script src="{{ site.baseurl }}/js/dragscroll.js"></script>
<script>

  $(document).ready(function(){

    $("#main").fitVids();


  });
    // fade in divs
    var fadein = $('.fade');
    $.each(fadein, function(i, item) {
    	setTimeout(function() {
    		$(item).addClass("fade-in"); // duration of fadein
    	}, 25 * i); // duration between fadeins
    });

</script>
<noscript>
<style>
.fade {
  opacity: 1;
}
</style>
</noscript>
</body>
</html>
