<header class="noselect clearfix">
  <div class=" wrapper">
    <div class="flex-container">
      <div class="title fade flex-item">
        <a href="{{ site.baseurl }}/"><img class="logo" alt="Stijn van Cuijk" src="/img/logo.png"></a>
      </div>
      <nav class="fade flex-item">
        <a class="projects" href="{{ site.baseurl }}/">Projects</a>
        <a class="about" href="{{ site.baseurl }}/about">About</a>
      </nav>
      <div class="flex-item fade"><p class="homepage-description">I am a multidisciplinary
        designer with a strong interest in human-centered, speculative and systemic
        design. Since 2014 I study Industrial Design at HAN University of Applied
        Sciences. This is a selection of my work from various creative fields.
      </p></div>
      <div class="fade noselect categories flex-item">
        <h3>Filter by Creative Field:</h3>
        <a class="selected" cat-id="all" href="#">All</a>
        <a href="#industrial-design" cat-id="industrial-design">Industrial Design</a>
        <a href="#graphic-design" cat-id="graphic-design">Graphic Design</a>
        <a href="#systemic-design" cat-id="systemic-design">Systemic Design</a>
        <a href="#ui-design" cat-id="ui-design">UI Design</a>
        <a href="#web-development" cat-id="web-development">Web Development</a>
        <a href="#video" cat-id="video">Video</a>
      </div>
    </div>
  </div>
</header>
