$slide-distance: 50px;
$time: 8s; /* should be about a second longer than the slideDuration for the smoothest transition */

@keyframes ltright {
  from {
    transform: translateY(0px) translateX(-$slide-distance);
  }
  to {
    transform: translateY(0px) translateX($slide-distance);
  }
}
@keyframes rtleft {
  from {
    transform: translateY(0px) translateX($slide-distance);
  }
  to {
    transform: translateY(0px) translateX(-$slide-distance);
  }
}
@keyframes down {
  from {
    transform: translateY(-$slide-distance) translateX(0px);
  }
  to {
    transform: translateY($slide-distance) translateX(0px);
  }
}
@keyframes up {
  from {
    transform: translateY($slide-distance) translateX(0px);
  }
  to {
    transform: translateY(-$slide-distance) translateX(0px);
  }
}
#slideshow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .slide, span, .static-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    span {
      background-size: cover;
      background-position: center;
    }
    span.ltright, span.rtleft {
      left: -$slide-distance;
      right: -$slide-distance;
    }
    span.up, span.down {
      top: -$slide-distance;
      bottom: -$slide-distance;
    }
  }
  span.ltright.active {
    animation: ltright $time cubic-bezier(.81,.95,.82,1) forwards;
  }
  span.rtleft.active {
    animation: rtleft $time cubic-bezier(.81,.95,.82,1) forwards;
  }
  span.up.active {
    animation: up $time cubic-bezier(.81,.95,.82,1) forwards;
  }
  span.down.active {
    animation: down $time cubic-bezier(.81,.95,.82,1) forwards;
  }
}

// not part of plugin
.static-content {
  padding: 20px;
}
h1 {
  font-family: sans-serif;
  margin: 0;
  position: absolute;
  bottom: 20px;
  color: white;
  text-shadow: 0 2px 4px rgba(0,0,0,.4);
}
